# Dependencies
/vendor
/node_modules

# Environment files
.env
.env.backup
.env.production
auth.json

# Laravel specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
/.phpunit.cache
bootstrap/compiled.php
app/storage/

# Homestead / Vagrant
Homestead.json
Homestead.yaml
/.vagrant

# Node / NPM / Yarn logs
npm-debug.log
yarn-error.log

# IDE / Editor
/.idea
/.vscode
/.fleet

# OS files
.DS_Store

# PHP tools
.phpactor.json
